body{
	overflow: scroll;
}

.frase {
    font-size: 20px;
    text-align: left;
}

#spinner{
    display: none;
}

#erro{
    color: red;
    display: none;
}


.campo-digitacao {
    font-size: 20px;
    height: 130px;
    border: 3px solid black;
}

.campo-desativado {
    background-color: lightgray;
}

.icones {
    vertical-align: middle;
}

.borda-verde {
    border: 3px solid green;
}

.borda-vermelha {
    border: 3px solid red;
}

.placar{
	display: none;
}
